
* {
  
    
    box-sizing: border-box;
    font-family: 'BioRhyme';
  }
  
main{
    background-color: black;
}
.screen{
    background-color: black;
   text-align: center;
    
    padding: 30px;
    
}   
H1,h2, p{
    text-align: center;
    color: coral;
    display: inline-block
}
p{
    padding-right: 20px;
}


h2 {

    margin-right: 30px;
}
.botones {
    display: flexbox;
    flex-direction: row;
    border-radius:5%;
    padding: 5px;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
    color:  black
}
    
.containerforli{
display: flexbox;
background-color: dimgray;
border-radius: 30%;
           
    }

.control {
    text-align: center;
}




li { 
 
list-style: none;
padding: 15px;
    
}

h6 {

    margin-inline-end: left;
}


.listdisplay {
    border: 10px solid darkslateblue;
    text-align: center;

}



button {
    
text-align: center;
color: darkslateblue;
border-radius: 3px

}
button:hover {
    background-color: #4CAF50;
    color: white;
  }


  .containerforlibottom{
      color: white;
      margin-right: 30px;
  }

